{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
        {% block title %}
        <title>MCS Utilities</title>
        {% endblock %}
        <meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/tahiring.css' %}">
		<link rel="stylesheet" href="{% static 'css/django_tables2.css' %}">
	</head>
	<body>
        <div class="clearfix"></div>

        <div class="page-header">
            {% include "TAHiring/navbar.html" %}
        </div>

		<div class="content container">
			<div class="row">
				<div class = "col-md-9">
					{% block content %}
					{% endblock %}
				</div>
                <div class = "col-md-3 sidenote">
                    {% block sidenote %}
                    {% endblock %}
                </div>
			</div>
		</div>

        {% block buttons %}
        {% endblock %}

        <div class="clearfix bot-pad"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="{% static 'javascript/tahiring.js' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/contrib/auto-render.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.js"></script>
        {% block script %}
            <script>
                $(document).ready( function () {
                    course_pk = Cookies.get('course_pk');
                    if (course_pk != null) {
                        $a_target = $('a#nav-review-applicant');
                        link_url = $a_target.attr('href');
                        $a_target.attr('href', link_url.replace(/1/, course_pk));
                    }
                });
            </script>
        {% endblock %}
	</body>
</html>
