{% load generate_availability_table %}
<td data-id = "{{ts_string}}" class="
        {% if has_tutorial %}tutorial 
            {% if num_filled == num_tutorials %}
                tutorial-filled 
            {% else %}
                tutorial-unfilled 
            {% endif %}
            {% if is_first %}
                tutorial-first 
            {% elif is_last %}
                tutorial-last 
            {% endif %} 
        {% endif %}"
        data-tas ="{% array_to_string assigned %}"
        >
    {% if is_first %}
        <div class="tutorial-ta-popup">
                <div class="tutorial-ta-popup-text"> 
                    {% for ta in num_tas %}
                        {% if num_filled == num_tutorials %}
                            {% if ta.full_name in assigned %}
                                <div>{{ta.full_name}} {#&lt;{{ta.tutorials_as_string}} &gt;#}
                                    <small>
                                            <a class="assign-ta" data-ta="{{ta.pk}}", data-tut={{tut_string}} href=javascript:void()>(unassign)</a>
                                    </small>
                            </div>
                            {% endif %}
                        {% else %}
                            <div>{{ta.full_name}} {#&lt;{{ta.tutorials_as_string}} &gt;#}
                                <small>
                                    {% if ta.full_name in assigned %}
                                        <a class="assign-ta" data-ta="{{ta.pk}}", data-tut={{tut_string}} href=javascript:void()>(unassign)</a>
                                    {% else %}
                                        <a class="assign-ta" data-ta="{{ta.pk}}", data-tut={{tut_string}} href=javascript:void()>(assign)</a>
                                    {% endif %}
                                </small>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
        <p>{% html_for_ta_output num_tas %}</p>
    {% elif is_last %}
        <p>{{num_tutorials}} Tutorial{% if num_tutorials != 1 %}s{% endif %} <small>({{num_filled}} assigned)</small></p>
    {% endif %}
</td>
