{% extends 'TAHiring/base_review.html' %}
{% load generate_availability_table %}
{% load render_table from django_tables2 %}

{% comment %}
    course - (Course) the current course model
    list_of_tutorials (CourseTutorial) 
    list_of_tas (TAData)
    courses (Course list) for selector 
{% endcomment %}

{% block content %}

    <h2> {{course.course_code}}</h2>
    <div class="form-group">
        <select id="course-select" class="form-control">
            {% for course_it in courses %}
                <option value={{course_it.pk}}
                    {% if course_it == course %}
                        selected="selected"
                    {% endif %}>
                    {{course_it.course_code}}
                </option>
            {% endfor %}
        </select>
        <a href={% url 'review_course_schedule' course_pk=course.pk %}>View as Schedule </a>
    </div>


    <div id="loader-modal" class="mymodal">
        <div class="mymodal-loader">
            <div class="loader"></div>
        </div>
    </div>

    {% render_table tutorial_table %}

{% endblock %}

{% block sidenote %}
    {% include 'TAHiring/review_table_instructions.html' %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready( function() {
            //Course selector
            $('#course-select').change( function () {
                course_pk = $(this).val();
                window.location.replace("{% url 'review_course_table' course_pk=12345 %}".replace(/12345/, course_pk.toString()));
            });
            // The AJAX for assigning a TA
            $("#ta-select").change( function(event) {
                ta_pk = $(this).val()
                tut_pks = $(event.target).attr('data-tut');

                assign_ta(ta_pk, tut_pks, 'true');
            });

            $('.ta-unassign').click( function() {
                ta_pk = $(this).attr('data-ta')
                tut_pks = $(this).attr('data-tut');

                assign_ta(ta_pk, tut_pks, 'false');
            });

            function assign_ta(ta, tut, assign) {
            // Encapsulates AJAX call.
                $.ajax({
                    url: "{% url 'assign_ta' %}",
                    method: "POST",
                    data: { ta_pk: ta_pk,
                            tut_pks: tut_pks,
                            assign: assign,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                          },
                    dataType: "text",
                    beforeSend: function() {
                        $('#loader-modal').css('display', 'block');
                    },
                    complete: function() {
                        $('#loader-modal').css('display', 'none');
                    },
                })
                .success( function() {
                    window.location.reload();
                });
            }
        });
    </script>
{% endblock %}
