{% extends 'TAHiring/base_review.html' %}
{% load generate_availability_table %}

{% comment %}
    course - (Course) the current course model
    list_of_tutorials (CourseTutorial) 
    list_of_tas (TAData)
    courses (Course list) for selector 
    term (String) indicating which term to filter by
{% endcomment %}

{% block content %}
    <h2> {{course.course_code}}</h2>
    <div class="form-group">
        <select id="course-select" class="form-control">
            {% for course_it in courses %}
                <option value={{course_it.pk}}
                    {% if course_it == course %}
                        selected="selected"
                    {% endif %}>
                    {{course_it.course_code}}
                </option>
            {% endfor %}
        </select>
        <a href={% url 'review_course_table' course_pk=course.pk %}>View as Table</a>
    </div>

    <div id="loader-modal" class="mymodal">
        <div class="mymodal-loader">
            <div class="loader"></div>
        </div>
    </div>

    {% generate_course_review_table course list_of_tutorials list_of_tas %}

    <button id="toggleTAs" class="btn btn-default right">Toggle TAs</button>
{% endblock %}

{% block script %}
    <script>
        // Set the course cookie on unload
        $(window).unload( function() {
            course_pk = document.location.href.split('/').pop();
            Cookies.set('course_pk', course_pk);
        });

        $(document).ready( function() {
            // Change the displayed course
            $('#course-select').change( function () {
                course_pk = $(this).val();
                window.location.replace("{% url 'review_course_schedule' course_pk=12345 %}".replace(/12345/, course_pk.toString()));
            });

            // Keeps track of whether to toggle TAs on or off. Initially off.
            var toggleOn = false;
            // Show popups when a tutorial is clicked
            $('.tutorial').click(function (event) {
                dataid = $(this).attr('data-id');
                // Do nothing if we clicked the popup itself
                if ($(event.target).parent().hasClass('tutorial-ta-popup-text')
                    || $(event.target).parent().hasClass('tutorial-ta-popup')){
                    return false;
                }
                else if ($(this).hasClass('tutorial-first')) {
                    $popup = $(this).children('.tutorial-ta-popup');
                    if ($popup.css('display') == 'none') {
                        $popup.css('display', 'block');
                    } else {
                        $popup.css('display', 'none');
                    }
                } else {
                    //Trigger a click on the space above
                    var $tr = $(this).parent();
                    var col = $tr.children().index($(this));
                    $tr.prev().children().eq(col).trigger('click');
                }
            });

            $('#toggleTAs').click( function() {
                toggleOn =!toggleOn;
                displayState = (toggleOn ? 'block' : 'none');
                $('.tutorial-ta-popup').css('display', displayState);
            });

            // The AJAX for assigning a TA
            $(".assign-ta").click( function() {
                ta_pk = $(this).attr('data-ta');
                tut_pks = $(this).attr('data-tut');
                assign = ($(this).html() == '(assign)');
                $.ajax({
                    url: "{% url 'assign_ta' %}",
                    method: "POST",
                    data: { ta_pk: ta_pk,
                            tut_pks: tut_pks,
                            assign: assign,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                          },
                    dataType: "text",
                    beforeSend: function() {
                        $('#loader-modal').css('display', 'block');
                    },
                    complete: function() {
                        $('#loader-modal').css('display', 'none');
                    },
                })
                .success( function() {
                    window.location.reload();
                });
            });

            // Color the tutorials that a TA is assigned to when his/her name is
            // hovered.
            $('.tutorial-ta-popup-text > div').hover(
                //handlerIn: Highlight those tutorials green
                function () {
                    ta_full_name = $(this).html();
                    ta_full_name = ta_full_name.split(' ').slice(0,2).join(' ');
                    $('td[data-tas*="'+ta_full_name+'"').toggleClass("taHover");
                }
            );
        });
    </script>
{% endblock %}
