<h4>Instructions</h4>

<ol>
    <li> Click a tutorial to display a list of qualified TAs.
    <li> Click "Assign" to assign a TA to that tutorial. Similarly, "Unassign"
    will remove a TA from that tutorial.
    <li> Hover over the name of a tutorial to see which tutorials they have been
    assigned.
    <li> You can see all qualified TAs by hitting the "Toggle TAs" button at the
    bottom.
    <li> You can see the tutorials as a table by hitting the "View as Table"
    button beneath the course selector.
</ol>
